body{
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url('background-image.jpg');
  font-family: 'Roboto',sans-serif;
  height: 110vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;

}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header {
  color: orangered;
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 55vw;
  color: white;
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.menu-icon {
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center; 
  float: right;
  display: none;
}



.search-txt {
  width: 18vw;
  height: 5vh;
  border-radius: 10px;
  border: none;
}

.material-symbols-outlined {
  position: relative;
  top: 10px;
  left: -30px;
}

@media (max-width: 1052px) {
  .menu-icon{
    display: block;
  }
  .navbar{
    position: absolute;
        top: 100%;
        left: 20%;
        padding: 10px 1%;
        background: #1f242d;
        border-top: 2px solid rgba(0,0, 0, 0.2);
        box-shadow: 0 7px 10px rgba(0,0, 0, 0.2);
        display: none;
        flex-direction: column;
        align-items: center;
        width: 46%;
  }
  .navbar.active{
    display: flex;
}

.navbar a{
    display: block;
    font-size: 20px;
    margin: 10px 0px;
    text-align: center;
}

.search-txt{
  width: 25vw;
}
  
}

@media (max-width: 796px) {
  .navbar{
    width: 50%;
  }
}
@media (max-width: 622px) {
  .navbar{
    width: 50%;
  }
  .search-txt{
    width: 30vw;
  }
}
@media (max-width: 456px) {
  .navbar{
    width: 60%;
  }
}


